//output:../../views/layouts/_footer.blade.php
.col-md-12
  footer.footer
    small.slogon
      img.brand-icon(src="https://dn-phphub.qbox.me/uploads/images/201612/12/1/iq7WQc2iuW.png?imageView2/1/w/34/h/34")
      a(href="https://laravel-china.org/courses")
        | 刻意練習，每日精進
    nav
      ul
        li
          a(href="{{route('about')}}") 關於
