//output:../../views/layouts/_header.blade.php
header.navbar.navbar-fixed-top.navbar-inverse
  .container
    .col-md-offset-1.col-md-10
      a#logo(href='/') Sample App
      nav
        ul.nav.navbar-nav.navbar-right
          @if (Auth::check())
          li
            a(href="{{ route('users.index') }}") 用戶列表
          li.dropdown
            a.btn.btn-secondary.dropdown-toggle(href='#' data-toggle='dropdown' )
              使用者 {{ Auth::user()->name }} 
              b.caret
            ul.dropdown-menu
              li
                a(href!="{{ route('users.show', Auth::user()->id) }}") 個人中心
              li
                a(href!="{{ route('users.edit', Auth::user()->id) }}") 編輯資料
              li.divider
              li
                a#logout(href='#')
                  form(action="{{ route('logout') }}"  method='POST')
                    {{ csrf_field() }}
                    {{ method_field('DELETE') }}
                    button.btn.btn-block.btn-danger(type='submit'  name='button') 退出
          @else
          li
            a(href="{{ route('help') }}") 幫助
          li
            a(href="{{ route('login') }}") 登入
          @endif
