//output:../../views/layouts/_header.blade.php
header.navbar.navbar-fixed-top.navbar-inverse
  .container
    .col-md-offset-1.col-md-10
      a(href="/" id="logo") Sample App
      nav
        ul.nav.navbar-nav.navbar-right
          li
            a(href="{{route('help')}}")幫助
          li
            a(href="#")登入
