//output:../../views/users/create.blade.php
@extends('layouts.default')
@section('title','註冊')

@section('content')
.col-md-offset-2.col-md-8
  .panel.panel-default
    .panel-heading
      h5 註冊
    .panel-body
      @include('shared._errors')
      form(method="POST" action="{{route('users.store')}}")
        {{ csrf_field() }}
        .form-group
          label(for="name") 名稱：
          input.form-control(type="text" name="name" value="{{old('name')}}")
        .form-group
          label(for="email") 郵箱：
          input.form-control(type="text" name="email" value="{{old('email')}}")
        .form-group
          label(for="password") 密碼：
          input.form-control(type="password" name="password" value="{{old('password')}}")
        .form-group
          label(for="password_confirmation") 確認密碼：
          input.form-control(type="password" name="password_confirmation" value="{{old('password_confirmation')}}")
        button.btn.btn-primary(type="submit") 註冊
@stop
